<!DOCTYPE html>

<head>
    <title>Eden ♰</title>
    <link rel="icon" type="image/x-icon" href="static/sytles/cross.jpg">
    <link rel="stylesheet" type="text/css" href="/static/sytles/user.css" />
    <div class="topnav">
        <a class="active" href="/">Eden ♰</a>
        <a href="create-post">Create a post</a>
        <a href="contact">Contact</a>
        <a href="rules">Rules</a>
        <a href="users">Users</a>
        <a href="aboutus">About us</a>
        <a class="name" href="logout" style="float: right;color: black">Log out</a>
        <a  class="name" href="{{logged_as}}" style="float:right;color: black">Logged as {{ logged_as }}</a>
    </div>

</head>

<body>
    <div class="background" style="width: 50%">
        <h2>Contact us</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4>If you report any sort of problem or have any suggestions or questions, please contact us via email or just create a post and let us know.<br><br>Contact both of us at <br> eden.website.company@gmail.com<br><br>Or separately<br>patrickpantea@gmail.com<br>dddarthurmorgan@gmail.com</h4>

    </div>
</body>