<!DOCTYPE html>

<html>
    <head>
        <title>Eden ♰</title>
        <link rel="icon" type="image/x-icon" href="static/sytles/cross.jpg">
        <link rel="stylesheet" type="text/css" href="/static/sytles/edit.css" />
        <div class="topnav">
            <a class="active" href="/">Eden ♰</a>
            <a href="create-post">Create a post</a>
            <a href="contact">Contact</a>
            <a href="rules">Rules</a>
            <a href="users">Users</a>
            <a href="aboutus">About us</a>
            <a class="name" href="logout" style="float: right;color: black">Log out</a>
            <a class="name" href="edit" style="float: right;color: black">Edit</a>
            {% if logged_as != False:%}
                <a  class="name" href="{{logged_as}}" style="float:right;color: black">Logged as {{ logged_as }}</a>
            {% else: %}
                <a  class="name" href="signin" style="float:right;color: black">Sign in</a>
            {% endif %}
          </div>

        
    </head>


    <body>
        <form style="width: 50%" class="background" action="comfirm_edit_bio" method="post">
            <br>
            <p> <h2 style="color:white;">Edit bio</h2> <input type="text" name="new_bio" style="height: 30px;width:500px"> </p>
            <br>
            <input class="but" type="submit" value="Post" id="post" style="height: 30px;width:100px">
            <br>
            <br>
            <h4> <a style="color:white" href="editimage" >Change profile picture</a> </h4>
        </form>
        <br>
        <br>
        <br>
        <br>
        <form style="width: 50%" class="background" action="change-password" method="post">
            <br>
            <p> <h2 style="color:white;">Old assword</h2> <input type="password" name="old_password" style="height: 30px;width:500px"> </p>
            <p> <h2 style="color:white;">New password</h2> <input type="password" name="new_password" style="height: 30px;width:500px"> </p>
            <p> <h2 style="color:white;">New password</h2> <input type="password" name="new_password2" style="height: 30px;width:500px"> </p>
            <br>
            <input class="but" type="submit" value="Post" id="post" style="height: 30px;width:100px">
            <br>
            <br>
        </form>
        
    </body>
</html>