!<!DOCTYPE html>

<html>
    <head>
    <link rel="icon" type="image/x-icon" href="static/sytles/cross.jpg">
    <link rel="stylesheet" type="text/css" href="/static/sytles/edit.css" />
    </head>

    <body>
        <form style="width: 50%" class="background" action="change_password" method="post">
        <form class="backround" action="/editimage" method="post" enctype="multipart/form-data">
        <h3>Hello dear user, I am sorry to let you know that this page isn't currently working :((. If you forgot your password you can contact us <a href="contact">here</a>. We'll do our best to answer your message asap.<br> <br> <a href="signin">Go back.</a> </h3>
    </body>

</html>